bower_components
node_modules
jspm_packages
logs
npm-debug.log*
pids
lib-cov
coverage
build/Release

.npm
.nyc_output
.grunt
.lock-wscript
.node_repl_history

*.pid
*.seed

*.log
*.sql
*.sqlite

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.com
*.class
*.dll
*.exe
*.o
*.so